#bg_img {
	position:absolute;
    width:100%; 
    height:100%; 
    background:green;
    background-image:url('img/tom-brunberg-wDqytTN8XqE-unsplash.jpg');
    background-size:cover;
}

.overlay {
	background: rgba(0, 0, 0, 0.7);
 	overflow: hidden;
 	height: 100%;
}

body {
	margin: 0px;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 13px;
	color: black;
}

.logo {
	position: absolute;
	font-size: 20px;
	display: inline-block;
	float: left;
	background: #2b2571;
	padding: 25px;
}

.logo a {
	color: white;
	text-decoration: none;
	font-weight: 800;
	
}

.logo a:hover {
	color: #fb6020;
}

.menu {
	position: absolute;
	margin-top: 30px;
	display: inline-block;
	margin-left: 37%;
}

.menu a {
	color: white;
	text-decoration: none;
	padding: 10px;
	text-transform: uppercase;
	font-weight: 800;
}

.menu a:hover {
	color: #fb6020;
}

.search {
	position: absolute;
	margin-left: 1330px;
	float: right;
	padding: 20px 13px;
	background-color: #fb6020;
}

.cart {
	position: absolute;
	right: 0;
	float: right;
	padding: 21.4px 13px 21.4px 13px;
	background-color: #2b2571;
}

.title {
	position: absolute;
	margin-top: 80px;
}

.title h3 {
	margin-top: 190px;
	margin-left: 250px;
	font-size: 30px;
	font-weight: 600;
	text-transform: uppercase;
	color: white;
}

.title h1 {
	margin-left: 250px;
	margin-top: -10px;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 95px;
	color: white;
}

.title h2 {
	margin-left: 250px;
	margin-top: -120px;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 95px;
	color: white;
}

.title button {
	border: solid 1px white;
	padding: 20px;
	color: white;
	text-transform: uppercase;
	margin-left: 250px;
	font-weight: 600;
	margin-top: -50px;
	background-color: transparent;
	font-family: "Poppins";
}

.steps {
	position: absolute;
	margin-top: 820px;
	width: 100%;
	background-color: #2b2571;
}

.step1 {
	margin-left: 190px;
	padding: 50px 0px;
	display: inline-block;
}

.step2 {
	padding: 50px 0px;
	margin-left: 100px;
	display: inline-block;
}

.step3 {
	padding: 50px 0px;
	margin-right: 190px;
	margin-left: 50px;
	display: inline-block;
}

.snumber {
	color: #fb6020;
	display: inline-table;
	font-size: 14px;
	font-weight: 600;
}

.stitle {
	padding: 0px 10px;
	color: white;
	font-size: 30px;
	font-weight: 600;
	display: inline-table;
}

.stitle1 {
	padding: 0px 10px;
	color: white;
	font-size: 30px;
	font-weight: 600;
	margin-top: -45px;
	padding: 0px 45px;
}

.sbody {
	color: white;
	text-transform: uppercase;
	margin-top: -30px;
	font-size: 13.5px;
	padding: 0px 47px;
}

.zurag25 {
	position: absolute;
	margin-top: 1150px;
	padding: 30px 230px;
}

.zurag25text {
	margin-left: 400px;
	position: absolute;
	margin-top: 1110px;
	padding: 30px 220px;
}

.ztexttitle {
	color: #fb6020;
	font-size: 16px;
}

.title11 {
	font-weight: 600;
	font-size: 32px;
	margin-top: -10px;
	margin-bottom: -10px;
}

.ztext {
	color: grey;
}

.cloudimg {
	position: absolute;
    height:100%;
    width: 82%;
    margin-top: 1600px; 
    margin-left: 10%;
    margin-right: 10%;
}

.serv {
	text-transform: uppercase;
	color: mediumpurple;
	font-size: 16px;
}

.whatweoffer {
	position: absolute;
	margin-top: 1450px;
	margin-left: 200px;
}


.offers1{
	margin-top: 50px;
	width: 270px;
	height: 300px;
	border: solid 1px white;
	border-radius: 15px;
	padding: 20px;
	background-color: white;
	box-shadow: 0px 0px 15px 5px whitesmoke;
	display: inline-block;
}

.offerimg {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.offertitle {
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-transform: uppercase;
	font-size: 16px;
}

.offerbut {
	margin-top: 23px;
	margin-left: 178px;
	border-radius: 13px;
	border: solid 1px white;
	background-color: mediumpurple;
	text-transform: uppercase;
	color: white;
	font-weight: 600;
	padding: 7px 13px;
	font-size: 11px;
	font-family: 'Poppins';
	box-shadow: 10px 10px 40px 10px #2b2571 inset;
}

.offerbut:hover {
	background-color: #fb6020;
	box-shadow: 10px 10px 60px 1px #2b2571 inset;
}

.offers2{
	margin-top: 50px;
	width: 270px;
	height: 300px;
	border: solid 1px white;
	border-radius: 15px;
	padding: 20px;
	background-color: white;
	box-shadow: 0px 0px 15px 5px whitesmoke;
	display: inline-block;
	margin-left: 50px;
}

.offers3{
	margin-top: 50px;
	width: 270px;
	height: 300px;
	border: solid 1px white;
	border-radius: 15px;
	padding: 20px;
	background-color: white;
	box-shadow: 0px 0px 15px 5px whitesmoke;
	display: inline-block;
	margin-left: 50px;
}

.offers4{
	margin-top: 50px;
	width: 270px;
	height: 300px;
	border: solid 1px white;
	border-radius: 15px;
	padding: 20px;
	background-color: white;
	box-shadow: 0px 0px 15px 5px whitesmoke;
	display: inline-block;
}

.offers5{
	margin-top: 50px;
	width: 270px;
	height: 300px;
	border: solid 1px white;
	border-radius: 15px;
	padding: 20px;
	background-color: white;
	box-shadow: 0px 0px 15px 5px whitesmoke;
	display: inline-block;
	margin-left: 50px;
}


.offers6{
	margin-top: 50px;
	width: 270px;
	height: 300px;
	border: solid 1px white;
	border-radius: 15px;
	padding: 20px;
	background-color: white;
	box-shadow: 0px 0px 15px 5px whitesmoke;
	display: inline-block;
	margin-left: 50px;
}

.news {
	position: absolute;
	margin-top: 2400px;
	width: 100%;
	text-align: center;
}

.newsl {
	color: mediumpurple;
	font-size: 16px;
}

.newssp {
	font-size: 24px;
	margin-top: -10px;
}

input {
	background-color: lightgrey;
	width: 25%;
	border: solid 1px white;
	height: 30px;
	padding: 5px;
	text-align: center;
	font-family: "Poppins";
}

.title button:hover {
	background-color: white;
	color: black;
}

.skills {
	position: absolute;
	margin-top: 2600px;
	width: 350px;
	background-color: #fb6020;
	padding: 30px 30px;
	font-weight: 600;
	color: white;
	margin-left: 22%;
	z-index: 1;
}

.sktitle {
	text-transform: uppercase;
	font-size: 25px;
	margin-top: -10px;
	margin-bottom: 5px;
	margin-left: 30px;
}

.skills button {
	padding: 5px 15px;
	border: solid 1px white;
	font-family: "Poppins";
	background-color: transparent;
	color: white;
	font-weight: 600;
	font-size: 20px;
	margin-left: 30px;
}

.skillsp button {
	padding: 5px 15px;
	border: solid 1px white;
	font-family: "Poppins";
	background-color: transparent;
	color: white;
	font-weight: 600;
	font-size: 20px;
	margin-left: 30px;
}

.skills button:hover {
	background-color: white;
	color: #fb6020;
}

.skillsp button:hover {
	background-color: white;
	color: #2b2571;
}

.skillsp {
	position: absolute;
	margin-top: 2600px;
	width: 350px;
	background-color: #2b2571;
	padding: 30px 30px;
	font-weight: 600;
	color: white;
	margin-left: 50%;
	z-index: 1;
}

footer {
	position: absolute;
	margin-top: 2740px;
	background-color: #181818;
	width: 1240px;
	padding: 100px;
}

.footerlogo {
	display: inline-block;
	vertical-align: top;
	padding: 0px 80px;
	text-align: center;
	margin-top: -15px;
	color:  white;
}

.fstay {
	font-size: 20px;
	margin-top: -10px;
}

.flogo {
	font-weight: 400;
	font-size: 29px;
}

.footerlink {
	display: inline-block;
	vertical-align: top;
	margin-left: 150px;
	color: white;
}

.footerdays {
	display: inline-block;
	vertical-align: top;
	margin-left: 150px;
	color: white;
}

.footerhours {
	display: inline-block;
	vertical-align: top;
	margin-top: 41px;
	color: white;
	margin-left: 5px;
}

.footercontact {
	display: inline-block;
	vertical-align: top;
	margin-left: 130px;
	color: white;
}

.icons {
	padding: 0px 5px;
}
